<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/erros') %>
<%- include('../partials/_msg') %>

<h1 class="mt-4">Cadastro:</h1>
<div class="card container mt-4">
    <div class="card-body">
        <form action="/for/cadastro/add" class="container mb-4" method="post">
          <div>
            <div>
                <h2 class="mt-4">Dados pessoais</h2> 
                <div class="mt-3 col-md-6">
                    <label for="razao_social">Razão Social</label><br>
                    <input type="" name="razao_social" class="mt-2 form-control">
                    <small>Digite a razão social</small>
                </div>
                <div class="mt-3 col-md-6">
                    <label for="nome_fantasia">Nome fantasia</label><br>
                    <input type="text" name="nome_fantasia" class="mt-2 form-control">
                    <small>Digite o nome fantasia </small>
                </div>
                <div class="mt-3 col-md-4">
                    <label for="cnpj">CNPJ</label><br>
                    <input type="text" name="cnpj" class="mt-2 form-control" id="cnpj">
                    <small>Digite somente números, sem pontos e traços.</small>
                </div>

                <div class="mt-3 col-md-4">
                    <label for="telefone">Telefone</label><br>
                    <input type="text" name="telefone" class="mt-2 form-control" id="telefone">
                    <small>Digite somente números, sem pontos e traços.</small>
                </div>

                <h2 class="mt-4 col-md-6">Dados de acesso</h2> 
                <div class="mt-3 col-md-6">
                    <label for="email">E-mail</label><br>
                    <input type="text" name="email" class="mt-2 form-control">
                    <small>Digite seu e-mail</small>
                </div>
                <div class="mt-3 col-md-6">
                    <label for="confirmacao_email">Confirme seu e-mail</label><br>
                    <input type="text" name="confirmacao_email" class="mt-2 form-control">
                    <small>Confirme seu e-mail</small>
                </div>
                <div class="mt-3 col-md-4">
                    <label for="senha">Senha</label><br>
                    <input type="text" name="senha" class="mt-2 form-control">
                    <small>Digite sua senha</small>
                </div>
                <div class="mt-3 col-md-4">
                    <label for="confirmacao_senha">Confirme sua senha</label><br>
                    <input type="text" name="confirmacao_senha" class="mt-2 form-control">
                    <small>Confirme sua senha</small>
                </div>
                <button class="btn btn-success mt-4" type="submit">Cadastrar</button>
          </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>