<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/_msg') %>

<h1 class="mt-4">Minha conta</h1>
<div class="card container mt-4">
    <div class="card-body">
        <!-- FORMULÁRIO ATUALIZAR DADOS -->
        <form action="/fornecedor/update/func" method="post">
            <% if(fornecedores){ %>
            <h2 class="mt-2">Dados pessoais</h2>
            <input type="hidden" value="<%=fornecedores.id%>" name="id">
            <div class="mt-3 col-md-6">
                <label for="razao_social">Razão Social:</label><br>
                <input type="text" name="nomeCompleto" class="mt-2 form-control" value="<%=fornecedores.razao_social%>">
                <small>Digite a razão social</small>
            </div>
            <div class="mt-4 col-md-4">
                <label for="nome_fantasia">Nome Fantasia:</label><br>
                <input type="text" name="nome_fantasia" class="mt-2 form-control" value="<%=fornecedores.nome_fantasia%>">
                <small>Digite o nome fantasia </small>
            </div>
            <div class="mt-3 col-md-4">
                <label for="cnpj">CNPJ:</label> <br>
                <input type="text" name="cnpj" class="mt-2 form-control" value="<%=fornecedores.cnpj%>">
                <small> Digite somente  números</small>
            </div>
            <div class="mt-3 col-md-4">
                <label for="telefone">Telefone:</label> <br>
                <input type="numero" name="telefone" class="form-control mt-2" value="<%=fornecedores.telefone%>">
                <small>Digite somente números</small>
            </div>
            <!-- Fazer integração com google para enderecos -->
            <div class="mt-4 col-md-4">
                <label for="endereco">Endereço:</label><br>
                <input type="text" name="endereco" class="mt-2 form-control">
                <small>Digite o seu endereço</small>
            </div>
            
            <!-- Rota para atualizar senha -->
            <div class="d-flex justify-content-between mt-4">
                <a href="/update/senha/<%=fornecedores.id%>"><button class="btn btn-danger" type="button">Alterar senha</button></a> 
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Deletar conta
                </button>
            </div>
            
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Exclusão de conta</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Tem certeza?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal">Não</button>
                      <a href="/fornecedor/delete/<%=fornecedores.id%>"><button type="button" class="btn btn-danger">Sim</button></a>
                    </div>
                  </div>
                </div>
              </div>
            
            <button type="submit" class="btn btn-success  mt-4">Salvar alterações</button>
            <% } %>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>