<%- include('../partials/head') %> 
<%- include('../partials/header') %>
<%- include('../partials/_msg') %>


    <h2 class="mt-4">Meus produtos</h2>

    <a href="/fornecedor/produtos/add" class="btn btn-success mt-2">Adicionar produto</a>
    
<div>
    <div class="d-flex flex-wrap gap-2 gap-sm-3 gap-md-4 mt-4">
        <%if(produto) { %>
            <% for(let i = 0 ; i < produto.length ; i++) { %>
                <div class="card cartao">
                    <a href="produtos/<%=produto[i].id%>" class="text-decoration-none text-dark">
                        <img src="data:<%= produto[i].fotoProdutos[0].tipo %>;base64,<%= produto[i].fotoProdutos[0].foto.toString('base64')%>" class="img-fluid p-2" alt="..." />
                        <div class="card-body">
                            <h5><%=produto[i].nome%></h5>
                            <%const valor = produto[i].preco %> 
                            <%const valorFormatado = valor.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }); %> 
                            <p><%=valorFormatado%></p>  
                            <button class="btn btn-success">Ver mais</button>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } else { %>
            <p>Não há produtos</p>
        <% } %>
    </div>
</div>
<%- include('../partials/footer') %>
