<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1 class="mt-4">Pedidos</h1>
<% if(!pedido[0]) { %>


<% } else { %>
    <%for(let i = 0; i < pedido.length; i++) {%>
        <div class="card container mt-4">
            <div class="card-body">
                    <h3>Informações  do cliente</h3>
                    <% for(let j = 0; j < clientes.length; j++) {%>
                      <% if (clientes[j].id ==  pedido[i].cliente_id ) {%>
                        <ul>
                          <li>ID do pedido: <%=pedido[i].id%></li>
                          <li>Nome: <%=clientes[j].nome%></li>
                          <li>Número para contato: <%=clientes[j].telefone%></li>
                          <li>Endereço: <%=clientes[j].endereco.endereco + ",  "+ clientes[j].numero_casa%></li>
                          <li>Data do pedido: <%=pedido[i].createdAt.toString().slice(4,24)%></li>
                        </ul>
                      <% } %>
                    <% } %>
        
                    <h3> Itens do pedido</h3>
                    <% for(let j = 0; j < pedido[i].detalhes_do_pedidos.length; j++) {%>
                        <% produtos.forEach((produto) => { %>
                            <% if(pedido[i].detalhes_do_pedidos[j].produto_id == produto.id) { %>
                              <div class="row">
                                <div class="col-md-2 col-4">
                                  <img src="data:<%=produto.fotoProdutos%>;base64,<%=produto.fotoProdutos[0].foto.toString('base64')%>" class="img-fluid"/>
                                </div>
                                <div class="col-md-8 col-8">
                                  <h4 class="mt-2"><%= produto.nome%></h4>
                                  <div class="mt-2 d-flex align-items-center">
                                      <p>Quantidade: <span class="qtd" id="qtd"><%=pedido[i].detalhes_do_pedidos[j].quantidade%></span>
                                    <br>
                                    Preço unitário: <span id="precoUnit"><%=Number(pedido[i].detalhes_do_pedidos[j].preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></span>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                        <% }) %>
                    <% } %>
                    <h5>Total do pedido: <%=pedido[i].total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></h5>
                    <div>
                      <a href="/fornecedor/aceitar-pedido/<%=pedido[i].id%>">
                        <button type="button" class="btn btn-success mt-4">Aceitar</button>
                      </a>
                      <a href="/fornecedor/recusar-pedido/<%=pedido[i].id%>">
                        <button type="button" class="btn btn-success mt-4">Recusar</button>
                      </a>
                    </div>
            </div>
        </div>
    <% } %>
<% } %>

<%- include('../partials/footer') %>