<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/erros') %>


<div class="card mt-5">
	<div class="row p-4 p-md-5">
		<div class="col-md-6">
			<img src="data:<%= produto.fotoProdutos[0].tipo %>;base64,<%= produto.fotoProdutos[0].foto.toString('base64')%>" class="img-fluid rounded-3" alt="...">
		</div>
		<div class="col-md-6">
			<form action="/fornecedor/produtos/update" method="post">
				<input type="hidden" id="id" name="id" value="<%=produto.id%>">
				<div class="mt-3 col-md-6">
					<label for="nomedoproduto">Nome do produto</label>
					<input value="<%=produto.nome%>" type="text" class="form-control" id="nomedoproduto" name="nomedoproduto">
				</div>
				<div class="mt-3 col-md-6">
					<label for="preco">Preço</label>
					<input type="number" name="preco" step="0.01" min="0" id="preco" class="form-control" value="<%=produto.preco%>">
				</div>
				<div class="mt-3 col-md-6">
					<label for="estoque">Estoque: </label>
					<input type="number" name="estoque" id="estoque" class="form-control" value="<%=produto.estoque%>">
				</div>
				<label for="descricao">Descrição</label>
				<textarea class="text-break form-control" id="descricao" name="descricao"><%=produto.descricao%></textarea>
				<div class="d-flex justify-content-between mt-3">
					<button type="submit" class="btn btn-success">Atualizar</button>
					<a href="/fornecedor/produtos/delete/<%=produto.id%>" class="btn btn-danger">Deletar</a>
				</div>
			</form>
			<!-- ALTERAR FOTO -->
			<form action="/fornecedor/produtos/update/foto" method="post" enctype="multipart/form-data">
				<a class="btn btn-primary  mt-3" style="height: 2.5rem;" data-bs-toggle="offcanvas"
				href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				Alterar foto
				 </a>
		
			  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
					<div class="offcanvas-header">
					 <h5 class="offcanvas-title" id="offcanvasExampleLabel">Alterar foto</h5>
					 <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
					 <div>
						<div class="mt-3 d-flex gap-3 input-group-sm">
							<input type="hidden" name="id" id="id" value="<%=produto.id%>">
							<input type="file" name="foto1" id="foto1" class="form-control" accept="image/*" required>
						</div>
						<button type="submit" class="btn btn-success mt-4">Salvar</button>
					 </div>
					</div>
				</div>
			</form> 
		</div>
	</div>
</div>

<%- include('../partials/footer') %>