<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/erros') %>
<%- include('../partials/_msg') %>
<h1 class="mt-4">Minha conta:</h1>
<div class="card container mt-4">
    <div class="card-body">
        <form action="/cli/cadastro/add" class="container mb-4" method="post">
            <div>
                <h2 class="mt-4">Dados pessoais</h2> 
                <div class="mt-3 col-md-6">
                    <label for="nome">Nome completo:</label><br>
                    <input type="text" name="nome" class="mt-2 form-control">
                    <small>Digite seu nome completo</small>
                </div>
                <div class="mt-3 col-md-4">
                    <label for="cpf">CPF:</label><br>
                    <input type="text" name="cpf" class="mt-2 form-control" id="cpf"> 
                    <small>Digite somente números</small>
                </div>
                <div class="mt-3 col-md-4">
                    <label for="telefone">telefone</label> <br>
                    <input type="text" name="telefone" class="mt-2 form-control" id="telefone">
                </div>
                <div class="mt-3 col-md-4">
                    <label for="data_nascimento">Data de nascimento:</label> <br>
                    <input type="text" class="form-control mt-2" id="data_nascimento" name="data_nascimento">
                </div>
                <h2 class="mt-4">Dados de acesso</h2>
                <div class="mt-3 col-md-6">
                    <label for="email">E-mail</label> <br>
                    <input type="text" name="email" class="mt-2 form-control">
                </div>
                <div class="mt-3 col-md-6">
                    <label for="confirmacao_email">Confirme seu e-mail</label> <br>
                    <input type="text" name="confirmacao_email" class="mt-2 form-control">
                </div><div class="mt-3 col-md-4">
                    <label for="senha">Senha</label> <br>
                    <input type="text" name="senha" class="mt-2 form-control">
                </div>
                <div class="mt-3 col-md-4">
                    <label for="confirmacao_senha">Confirme sua senha</label> <br>
                    <input type="text" name="confirmacao_senha" class="mt-2 form-control">
                </div>
                <button class="btn btn-success mt-4" type="submit">Cadastrar</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>