<%- include('../partials/head') %> 
<%- include('../partials/header') %>
  <h2 class="mt-4">Meus pedidos</h2>
  <% if(!pedido[0]) { %>
      <p class="m-5 card p-5">Você não tem pedidos pendentes.</p>
  <% } else { %>
    <% for(let i = 0; i < pedido.length; i++){ %>
      <div class="card mt-4 p-md-5 p-4">
        <%for(let j = 0; j < fornecedor.length; j++){ %>
          <%if(fornecedor[j].id == pedido[i].fornecedor_id){%>
            <h2 class="mb-1"><%= fornecedor[j].nome_fantasia%></h2>
            <p class="ms-2">Data do pedido: <%=pedido[i].createdAt.toString().slice(4,24)%></p>
          <% } %>
        <% } %>
      <% for(let j = 0; j < pedido[i].detalhes_do_pedidos.length; j++){ %>
        <% produtos.forEach((produto) => { %>
          <% if(pedido[i].detalhes_do_pedidos[j].produto_id == produto.id) { %>
            <div class="row mb-2">
              <div class="col-md-2">
                <img src="data:<%=produto.fotoProdutos%>;base64,<%=produto.fotoProdutos[0].foto.toString('base64')%>" class="img-fluid"/>
              </div>
              <div class="col-md-8">
                <h3 class="mt-2"><%= produto.nome%></h3>
                <div class="mt-2 d-flex align-items-center">
                    <p>Quantidade: <span class="qtd" id="qtd"><%=pedido[i].detalhes_do_pedidos[j].quantidade%></span>
                  <br>
                  Preço unitário: <span id="precoUnit"><%=Number(pedido[i].detalhes_do_pedidos[j].preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></span>
                </div>
              </div>
            </div>
            <% } %>
        <% }) %>
      <% } %>
        <% if(pedido[i].situacao_pedido == "Em andamento"){%>
          <a href="/cliente/confirmar-chegada-pedido/<%=pedido[i].id%>">
            <button class="btn btn-success mt-2 mb-3 " type="button">
              Confirmar chegada do pedido
            </button>
          </a>
      </div>
        <% } else if(pedido[i].situacao_pedido == "pendente"){%>
          <div class="mt-4">
            <h5>Total: <%=pedido[i].total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></h5>
            <h5>Situação do Pedido: <%=pedido[i].situacao_pedido%></h5>
          </div>
          <a href="/cliente/cancelar-pedido/<%=pedido[i].id%>">
            <button class="btn btn-danger mt-2 mb-3 btn-lg" type="button">
              Cancelar Pedido
            </button>
          </a>
      </div>
      <% } else if (pedido[i].situacao_pedido == "Pedido recusado"){ %>
        <p class="text-danger mt-2">Seu pedido foi recusado</p>
      </div>
      <% } else if (pedido[i].situacao_pedido == "Pedido cancelado"){ %>
        <p class="text-danger mt-2">Você cancelou este pedido.</p>
      </div>
      <% } else { %>
        <p class="text-success mt-2">Pedido entregue.</p>
      </div>
      <% }} %>
  <% } %>
<%- include('../partials/footer') %>
