<%- include('../partials/head') %> 
<%- include('../partials/header') %>
  <h2 class="mt-4">Meus pedidos</h2>
  <% if(!pedido[0]) { %>
      <p class="m-5 card p-5">Você não tem pedidos pendentes.</p>
  <% } else { %>
    <% for(let i = 0; i < pedido.length; i++){ %>
      <div class="card mt-4 p-md-5 p-4">
        <%for(let j = 0; j < fornecedor.length; j++){ %>
          <%if(fornecedor[j].id == pedido[i].fornecedor_id){%>
            <h2 class="mb-4"><%= fornecedor[j].nome_fantasia%></h2>
          <% } %>
        <% } %>
      <% for(let j = 0; j < pedido[i].detalhes_do_pedidos.length; j++){ %>
        <% produtos.forEach((produto) => { %>
          <% if(pedido[i].detalhes_do_pedidos[j].produto_id == produto.id) { %>
            <div class="row">
              <div class="col-md-2">
                <img src="data:<%=produto.fotoProdutos%>;base64,<%=produto.fotoProdutos[0].foto.toString('base64')%>" class="img-fluid"/>
              </div>
              <div class="col-md-8">
                <h3 class="mt-2"><%= produto.nome%></h3>
                <div class="mt-2 d-flex align-items-center">
                    <p>Quantidade: <span class="qtd" id="qtd"><%=pedido[i].detalhes_do_pedidos[j].quantidade%></span>
                  <br>
                  Preço unitário: <span id="precoUnit"><%=Number(pedido[i].detalhes_do_pedidos[j].preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></span>
                </div>
              </div>
            </div>
            <% } %>
            <% }) %>
            <% } %>
            <div class="mt-4">
              <h5>Total: <%=pedido[i].total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })%></h5>
              <h5>Situação do Pedido: <%=pedido[i].situacao_pedido%></h5>
            </div>
            <form action="/cliente/cancelar-pedido" method="post">
              <input type="hidden" value="">
              <a href="/cliente/cancelar-pedido/<%=pedido[i].id%>"></a>
              <button class="btn btn-danger mt-2 mb-3 btn-lg" type="submit">
                Cancelar Pedido
              </button>
            </form>
        </div>
      <% } %>
  <% } %>
<%- include('../partials/footer') %>
